
.doll{
	font-size:100px;}

.grow
{ 
background-color: black;
color: white;
padding:200px 200px 600px 200px;
border-radius:50px;
boarder-color:white;
font-size:25px;


}
.archana
{
bakground-color:white;
color:black;
padding:200px 200px 0px 200px;
font-size:50px;
}

.honey{
	font-size:100px;}